.drop_down{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #191919;
    border-radius: 5px;
    padding: 7px;
    width: 170px;
    position: absolute;
    box-shadow: 0 16px 24px rgba(0, 0, 0, .3), 0 6px 8px rgba(0, 0, 0, .2);
}
 svg{
    fill: white;
    width: 16px;
    height: 16px;
}
span{
    color: white;
}
.elements{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    border-radius: 2px;
    padding: 8px;
}
.elements:hover{
    background-color: hsla(0, 0%, 100%, .1);
}
.text{
    font-size: 11px;
}